
!**/NuGet.exe
!**/gzip.exe
!**/ninja.exe
!**/symsrv.dll
!**/symstore.exe
!LCInst/RCDrivers/Test/Automated.Python/codeduitests/*.dll
!buildtools/bin
!buildtools/bin/*.exe
!installer/pyinstaller/**/*.dll
!installer/pyinstaller/**/*.exe
**/*.egg-info
**/*.ninja
**/.idea/
**/__pycache__
**/build/
**/dist/
**/env
**/env3
*.*~
*.ODL
*.TMP
*.cache
*.ccexclude
*.chm
*.cmdline
*.contrib
*.css
*.dll
*.dotsettings
*.err
*.exe
*.feature.cs
*.g.cs
*.gif
*.hijacked
*.htm
*.html
*.ini SAVE
*.js
*.keep
*.keep.*
*.licx
*.log
*.msi
*.nupkg
*.ocx
*.orig
*.out
*.pdb
*.pyc
*.rar
*.rtf
*.suo
*.swp
*.template
*.tlb
*.unloaded
*.user
*.vspscc
*.vsscc
*.vssscc
*.xlsx
*.zip
*.zipx
.sonar/
.sonartmp/
.vs/
/Output/
/Output/3rdParty/
/packages.config
bin/
obj/
TestResults/
packages/
testresult.xml
Thumbs.db
!PipeServer.dll
*.db
*.opendb
*.stackdump
publish*/
